body{
	font-size: 20px; margin:0px; background-image: url("images/w.jpg");
	background-size: cover;
  background-repeat: no-repeat;
}

h1,h2,h3,h4,h5,h6{
	margin:0px;
}

ul{
  list-style-type:none;background-color: none;
}

a{
  text-decoration:none;
}
li a{
	background: #4c4c4c;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: left;
		text-decoration: none;
		display: block;
		font-size: 16px;
		margin-right: 30%;
		margin-top: 28%;
		box-shadow: 2px 2px 10px #171717;
}
header{
	 color:black; font-size: 40px; margin:5px; text-align:center;
}

.bottom img{
	display: block;
	margin-top: 20px;
	margin-left: 275px;
	border-radius: 50%;
}

header h3{
  text-shadow: 4px 4px 5px yellow;
  font-family: Bradley Hand ITC;
  font-weight: bold;
}

section{
  border:5%;
  display: flex;flex-direction: row;
  margin: 0; padding: 1%; justify-content: space-around;
  background: transparent;
}

.main{
  width:60%;
  background:#FFFF99; margin-right: 2%;
margin-top: 0.01%;
}

.main p{
  text-align: left; margin-left: 5%;
}


.menubar ul{
	display: flex; flex-direction: row;
	margin-left: 20%;


}

.menubar ul li{
	flex-grow: 1;
	font-size: 25px;
}


.menubar ul li a {
	color: white;
	font-weight: bold;
}
.menubar ul li a:hover{
	background:#999900;
}





footer{
  color:white; text-align: right; display: flex;flex-direction: row;

}

.media{
	width: 50%; text-align: left; padding-left: 10%;
}

.Copyright{
	width: 50%;
}

.Copyright p{
text-align: right;
margin-right: 18%;
}

@media all and (max-width: 600px){

body{
	background-image: none;
	background: black;
}

	header{
		width: 100%;
	}

	header h3{
		font-size: 40px;
	}
	.menubar{
		margin-top: 0px;
		width: 100%;
	}
	.menubar ul{
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-left: 0px;
	}

	section{
		width: 98%;
		display: flex;flex-direction: column;
	}


.main{
	width: 100%;
	margin-bottom: 3%;

}

.top{
	width: 100%;
}


	footer{
		width: 98%;
	}
}
@media all and (max-width: 600px)
{
	footer{
	width: 100%;
	flex-direction: column;
}

.media{
	width: 90%;
	text-align: center;
}

.Copyright{
	width: 100%;
}

.Copyright p{
	margin-right: 0px;
	text-align: center;
}

}
